*.pyc
.vscode
output
output_admm
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist

tensorboard_3d
**/__pycache__/
events.out*
ckpt
release
eval_result/
ckpts/
logs
*.log
backup
eval/masks_cv2
masks_cv2
mask*
output_temp
nohup*
feature_in_training
data
plot_opacity/
output_admm_quant